@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


div menu {
    display: flex;
    justify-content: space-around;
    font-family: 'Oswald', sans-serif;

}

div menu a  {
 text-decoration: none;
 color: rgb(7, 7, 7);
 background-color: aqua;
 padding: 10px;
 border-radius: 5px;
}
div menu a:hover  {
    box-shadow: 3px 3px 2px blueviolet;
}

.boxcontainer {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}
.boxcontainer div {
    background-color: rgb(122, 131, 255);
    margin: 4px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    color: aliceblue;
    box-shadow: 5px 5px 5px blueviolet;
    
}

.logoimg {
    width: 160px;
    height: 40px;
}

/* ................* about.html css  '''''''''''''''*/ 

#imgme {
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 100px 25px 100px 0px;
    box-shadow: 15px 10px 10px 5px black;
    
}
#imgme:hover {
    box-shadow: 15px 10px 10px 5px black;
}

#background {
    background-image: url(img/pexels-pixabay-235986.jpg);
    width:auto;
    display: flex;
    border-radius: 13px;
    padding: 20px;


}
#background p {
    color: azure;
    margin-left: 15px;
}